name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push frontend image
        run: |
          docker build  -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest

      - name: Build and push backend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest

      - name: Deploy to VM via SSH (password auth)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          password: ${{ secrets.VM_PASSWORD }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest
            docker-compose down
            docker-compose up -d
